---
import TimelineLayout from "../layouts/TimelineLayout.astro"

import { topics } from "../content/2023/topics.ts"
import Timeline from "../components/Timeline.astro"
import TimelineMobile from "../components/TimelineMoblie.astro"

import BannerImage from "../assets/2023_banner.png"
---

<TimelineLayout title="Cybozu Frontend Monthly">
  <main class="main">
    <header class="header">
      <h1>
        <img
          class="header-image"
          src={BannerImage.src}
          alt="2023年のフロントエンドトピックまとめ"
          width={800}
        />
      </h1>
    </header>
    <Timeline topics={topics} />
    <TimelineMobile topics={topics} />
  </main>
</TimelineLayout>

<style lang="scss">
  .main {
    padding: 0 2rem;

    @media screen and (max-width: 420px) {
      padding: 0 0.6rem;
    }
  }
  .header {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    height: 400px;
    border-bottom: 2px solid var(--color-surface-mixed-200);
    margin-bottom: 20px;

    @media screen and (max-width: 850px) {
      height: 160px;
    }

    @media screen and (max-width: 450px) {
      height: 120px;
    }
  }

  .header-image {
    @media screen and (max-width: 850px) {
      width: 400px;
    }

    @media screen and (max-width: 450px) {
      width: 300px;
    }
  }
</style>
