---
import TimelineLayout from "../layouts/TimelineLayout.astro"

import { topics } from "../content/2023/topics.ts"
import Timeline from "../components/Timeline.astro"
import TimelineMobile from "../components/TimelineMoblie.astro"
---

<TimelineLayout title="Cybozu Frontend Monthly">
  <main class="main">
    <header class="header">
      <h1>2023年まとめ(バナー画像入れたいの)</h1>
    </header>
    <Timeline topics={topics} />
    <TimelineMobile topics={topics} />
  </main>
</TimelineLayout>

<style lang="scss">
  .main {
    padding: 0 2rem;

    @media screen and (max-width: 420px) {
      padding: 0 0.6rem;
    }
  }
  .header {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    height: 400px;
    border-bottom: 2px solid var(--color-surface-mixed-200);
    margin-bottom: 20px;

    @media screen and (max-width: 420px) {
      height: 200px;
    }
  }
</style>
