---
const slideUrl = "https://speakerdeck.com/cybozuinsideout/frontendexpert-team"
const slideId = "0efec8a9dd224baebfb2aaf30fbe9a28"
---

<h2>フロントエンドエキスパートチームについて</h2>
<div class="wrapper">
  <script
    data-id={slideId}
    data-ratio="1.33333333333333"
    src="//speakerdeck.com/assets/embed.js"
    class="speakerdeck-embed"
  ></script>
</div>

<p>
  <a href={slideUrl} target="_blank" rel="nofollow noopener noreferrer">
    {slideUrl}
  </a>
</p>

<style>
  .wrapper {
    padding: 20px;
  }
</style>
