---
import type { CollectionEntry } from "astro:content"

export interface Props {
  frontmatter: CollectionEntry<"posts">["data"]
}
import dayjs from "dayjs"
import { staticPath } from "../lib/helper"
import StreamInfo from "./StreamInfo.astro"
const { frontmatter } = Astro.props
const startDate = dayjs(frontmatter.date)
const format = "HH:mm"
---

<img
  src={staticPath("/img/header.png")}
  alt=""
  width="659"
  height="229"
  style={{
    height: "auto",
    maxWidth: "100%",
  }}
/>
<h2>イベント概要</h2>
<p>
  <strong>サイボウズフロントエンドマンスリー</strong>
  は、サイボウズ社内で行っているフロントエンド情報共有会「フロントエンドウィークリー」の公開版です。
</p>
<p>
  その月に気になったフロントエンドの情報を、サイボウズのフロントエンドエキスパートチームのメンバーが共有していきます。
</p>
<p>
  <strong>
    このイベントのハッシュタグは{" "}
    <a
      href={`https://twitter.com/search?q=${encodeURIComponent(
        "#サイボウズフロントエンドマンスリー"
      )}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      #サイボウズフロントエンドマンスリー
    </a>{" "}
    です。
  </strong>
</p>

<div class="note">
  <h3>※フロントエンドウィークリーとは</h3>
  <p>
    毎週火曜の 17:00 〜 18:00
    で社内向けに行っているフロントエンドの気になる記事を紹介する会です。2016年3月15日から行われています。
    <br />
    ハッシュタグ{" "}
    <a
      href={`https://twitter.com/search?q=${encodeURIComponent(
        "#サイボウズフロントエンドウィークリー"
      )}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      #サイボウズフロントエンドウィークリー
    </a>{" "}
    で実況しています。
  </p>
  <p>
    zennのpublicationにてウィークリーのまとめも投稿していますので、ぜひこちらもご覧ください。
    <a
      href="https://zenn.dev/p/cybozu_frontend"
      target="_blank"
      rel="noopener noreferrer"
    >
      https://zenn.dev/p/cybozu_frontend
    </a>
  </p>
</div>

<h3>開催日</h3>
<p>{dayjs(frontmatter.date).format("YYYY年MM月DD日")}</p>

<h3>イベントページ</h3>
<p>
  <a href={frontmatter.connpass} target="_blank" rel="noopener noreferrer">
    {frontmatter.connpass}
  </a>
</p>

{
  frontmatter.streamUrl && (
    <>
      <h3>配信URL</h3>
      <StreamInfo streamUrl={frontmatter.streamUrl} />
    </>
  )
}

<style lang="scss">
  .note {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    h3 {
      margin-top: 0;
      font-size: 1.25em;
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.25;
    }
    p {
      margin-bottom: 0;
    }
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }
</style>
